{% extends "users/base_dashboard.html" %}

{% load i18n %}

{% block title %}
  {% translate "Change Password" %}
{% endblock title %}

{% block dashboard_content %}
  <div class="card shadow-sm border-0">
    <div class="card-header bg-transparent border-0 pt-4 px-4 pb-0">
      <h1 class="h3 fw-bold mb-0">{% translate "Change Password" %}</h1>
    </div>
    <div class="card-body p-4">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">{% translate "Change Password" %}</button>
      </form>
    </div>
  </div>
{% endblock dashboard_content %}
