{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Password reset successful" %}
{% endblock title %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="col-md-6 text-center">
      <div class="card shadow-sm border-0">
        <div class="card-body p-5">
          <div class="mb-4 text-success d-flex justify-content-center">
            <style>
              .icon-wrapper svg {
                width: 4rem;
                height: 4rem;
              }
            </style>
            <div class="icon-wrapper">{% include "svgs/icon-check.svg" %}</div>
          </div>
          <h1 class="mb-3">{% translate "Password reset successful" %}</h1>
          <p class="mb-4 text-muted">{% translate "Your password has been set. You may go ahead and log in now." %}</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-lg w-100">{% translate "Log in" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
