{% extends "admin/base_site.html" %}

{% load i18n l10n admin_urls static admin_filters %}

{% block extrahead %}
    {{ block.super }}
    {% csp_nonce_attr media %}
    <script src="{% static 'admin/js/cancel.js' %}" async {% csp_nonce_attr %}></script>
{% endblock extrahead %}
{% block breadcrumbs %}
    <ol class="breadcrumbs">
        <li>
            <a href="{% url 'admin:index' %}">{% translate "Początek" %}</a>
        </li>
        <li>
            <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        </li>
        <li>
            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        </li>
        <li aria-current="page">{% translate "Potwierdzenie" %}</li>
    </ol>
{% endblock breadcrumbs %}
{% block content %}
    <p>
        {% blocktranslate count counter=tokens|length %}Token API zostanie wymieniony dla {{ counter }} użytkownika.{% plural %}Tokeny API zostaną wymienione dla {{ counter }} użytkowników.{% endblocktranslate %}
    </p>
    <p>
        {% translate "Poniższym użytkownikom zostanie cofnięty dostęp przez dotychczasowy token API. Nowe wartości pojawią się jednorazowo po potwierdzeniu." %}
    </p>
    <ul>
        {% for token in tokens %}<li>{{ token.user.username }}{% if token.user.email %} ({{ token.user.email }}){% endif %}</li>{% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {% for token in tokens %}
            <input type="hidden"
                   name="{{ action_checkbox_name }}"
                   value="{{ token.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="regenerate" />
        <input type="hidden" name="index" value="0" />
        <input type="hidden" name="confirm" value="yes" />
        <input type="submit" value="{% translate 'Tak, wygeneruj nowe tokeny' %}" />
        <a href="{% url opts|admin_urlname:'changelist' %}"
           class="button cancel-link">{% translate "Anuluj" %}</a>
    </form>
{% endblock content %}
