{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  <div class="auth-card shadow-lg">
    <div class="mb-4">
      <h1 class="h3 mb-3 fw-bold text-center">{% trans "Password Reset" %}</h1>
      <p class="text-muted text-center">
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
      </p>
    </div>
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="password_reset">
      {% csrf_token %}
      {% include "includes/form.html" %}
      <div class="mt-4">
        <button class="btn btn-primary w-100 btn-lg" type="submit">{% trans "Reset My Password" %}</button>
      </div>
    </form>
  </div>
{% endblock content %}
