{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
  <div class="auth-card shadow-lg">
    <div class="mb-4">
      <h1 class="h3 mb-3 fw-bold text-center">
        {% if token_fail %}
          {% trans "Bad Token" %}
        {% else %}
          {% trans "Change Password" %}
        {% endif %}
      </h1>
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-muted text-center">
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
      {% else %}
        <p class="text-muted text-center">
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          {% trans "Your password is now being changed." %}
        </p>
      {% endif %}
    </div>
    {% if not token_fail %}
      <form method="post" action="." class="password_reset_from_key">
        {% csrf_token %}
        {% include "includes/form.html" %}
        <div class="mt-4">
          <button class="btn btn-primary w-100 btn-lg" type="submit">{% trans "Change Password" %}</button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
